# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/config/websocket.php
app/crud/uploads/*
!app/crud/uploads/queen-amiela-johna.jpg
!app/crud/uploads/queen-gabrielle.jpg
!app/crud/uploads/queen-jewel-olivera.jpg
!app/crud/uploads/queen-jona.jpg
!app/crud/uploads/queen-macy-dela-paz.jpg
!app/crud/uploads/queen-maria-cheska-deyn.jpg
!app/crud/uploads/queen-ml-tucay.jpg
!app/crud/uploads/queen-precious-lovemarie.jpg
!app/crud/uploads/queen-sapphire-neigel.jpg
!app/crud/uploads/mutya-barbiengot-forteza.jpg
!app/crud/uploads/mutya-bea-bunda.jpg
!app/crud/uploads/mutya-bryan-nava.jpg
!app/crud/uploads/mutya-diana-kadiri.jpg
!app/crud/uploads/mutya-jullia-baretta.jpg
!app/crud/uploads/mutya-meriam-defensor-fortsantiago.jpg
!app/crud/uploads/mutya-odessa-olivia.jpg
!app/crud/uploads/mutya-princess-fiona.jpg
!app/crud/uploads/mutya-sam-goku.jpg
!app/crud/uploads/mutya-toni-dragonzaga.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
