# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/mr-01-jake-tam.jpg
!app/crud/uploads/mr-02-jm-biag.jpg
!app/crud/uploads/mr-03-daryl-herrera.jpg
!app/crud/uploads/mr-04-bhryan-bautista.jpg
!app/crud/uploads/mr-05-marcus-silva.jpg
!app/crud/uploads/mr-06-john-paul-orolfo.jpg
!app/crud/uploads/mr-07-agmar-oseo.jpg
!app/crud/uploads/mr-08-randell-idioma.jpg
!app/crud/uploads/ms-01-thaya-laurenaria.jpg
!app/crud/uploads/ms-02-angelique-montenegro.jpg
!app/crud/uploads/ms-03-danielle-monte.jpg
!app/crud/uploads/ms-04-aleah-michaela-casco.jpg
!app/crud/uploads/ms-05-sarah-balgemino.jpg
!app/crud/uploads/ms-06-vera-de-villa.jpg
!app/crud/uploads/ms-07-lian-shaine-naparato.jpg
!app/crud/uploads/ms-08-jovie-biag.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
